
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100vw;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #00a087;
  color: #e8fdff;
  z-index: 100;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  padding-left: 10px;
  font-size: 200%;
  line-height: 80px;
}